@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>@ViewData["Title"]</h1>

<div class="card-group mt-4">
    <a asp-action="Products" class="list-group-item list-group-item-action">Manage Products</a>
    <a asp-action="Categories" class="list-group-item list-group-item-action">Manage Categories</a>
    <a asp-action="Users" class="list-group-item list-group-item-action">Manage Users</a>
    <a asp-action="ActiveCarts" class="list-group-item list-group-item-action">View Active Carts</a>
    <a asp-action="Orders" class="list-group-item list-group-item-action">Manage Orders</a>
</div>