@model IEnumerable<ProductApp.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "Manage Users";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Address</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Email</td>
                <td>@u.UserAddress</td>
                <td>@string.Join(", ", u.Roles)</td>
            </tr>
        }
    </tbody>
</table>
